.main {
    max-width: 900px !important;
    margin: auto;
    padding-top: 4rem;
}

.previews {
    margin-top: 2rem;
    gap: 1rem;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;
    padding-bottom: 0.7rem;
    /* mask-image: linear-gradient(90deg, transparent 0%, white 25%, white 75%, transparent 100%); */
}

body ::-webkit-scrollbar {
    height: 0.7rem;
    width: 0.7rem;
}

body ::-webkit-scrollbar-track {
    background-color: rgba(128, 128, 128, 0.473);
    border-radius: 40rem;
}

body ::-webkit-scrollbar-thumb {
    background-color: #636cff;
    border-radius: 40rem;
}